[
  {rabbit, [
{% if rabbitmq_bind_address and not rabbitmq_ssl %}
    {tcp_listeners, [{"{{ rabbitmq_bind_address }}", {{ rabbitmq_port }}}]},
{% else %}
    {tcp_listeners, []},
{% endif %}
{% if rabbitmq_ssl %}
    {ssl_listeners, [{"{{ rabbitmq_ssl_bind_address }}", {{ rabbitmq_ssl_port }}}]},
    {ssl_options, [
      {cacertfile, "{{ rabbitmq_cacert_file }}"},
      {certfile, "{{ rabbitmq_cert_file }}"},
      {keyfile, "{{ rabbitmq_key_file }}"},
      {verify, verify_peer},
      {fail_if_no_peer_cert, true},
      {ciphers, [
        {dhe_rsa,aes_256_cbc,sha},
        {dhe_dss,aes_256_cbc,sha},
        {rsa,aes_256_cbc,sha}
      ]}
    ]}
{% endif %}
    {vm_memory_high_watermark, {{ rabbitmq_vm_memory | default(0.4) }}},
    {vm_memory_high_watermark_paging_ratio, {{ rabbitmq_vm_memory_ratio | default(0.5) }}},
    {disk_free_limit, {mem_relative, {{ rabbitmq_mem_relative | default(1) }}}},
    {heartbeat, {{ rabbitmq_heartbeat | default(580) }}}
  ]}
].
